name: Python Verifpath

on:
  push:
    branches: [ "main", "Dev" ]  # Branches sur lesquelles déclencher les tests
  pull_request:
    branches: [ "main", "Dev" ]  # Tests aussi pour les pull requests

jobs:
  test:
    runs-on: ubuntu-latest  # Machine virtuelle pour exécuter les tests

    steps:
    - uses: actions/checkout@v4  # Récupère le code du dépôt

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"  # Version de Python utilisée

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Installe les dépendances depuis requirements.txt si le fichier existe
        if [ -f "requirements.txt" ]; then
          pip install -r requirements.txt
        else
          # Installe les dépendances directement si requirements.txt est introuvable
          pip install pandas pytest pytz requests
        fi
        # Installe le projet en mode editable si setup.py existe
        if [ -f "setup.py" ]; then
          pip install -e .
        fi

    - name: Run tests
      env:
        PYTHONPATH: ${{ github.workspace }}  # Définit PYTHONPATH pour les imports
      run: |
        pytest tests/  # Exécute les tests
