name: Python Tests

on:
  push:
    branches: [ "main", "Dev" ]  # Branches sur lesquelles déclencher les tests
  pull_request:
    branches: [ "main", "Dev" ]  # Tests aussi pour les pull requests

jobs:
  test:
    runs-on: ubuntu-latest  # Machine virtuelle pour exécuter les tests

    steps:
    - uses: actions/checkout@v4  # Récupère le code du dépôt

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"  # Version de Python utilisée

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt  # Installe les dépendances
        pip install -e .  # Installe le projet en mode editable (si setup.py existe)

    - name: Run tests
      env:
        PYTHONPATH: ${{ github.workspace }}  # Définit PYTHONPATH pour les imports
      run: |
        pytest tests/  # Exécute les tests
